body{
  width: 1000px;
  height: 100%;
  background-image: url('../IMG/spaceneedle.jpg');
  background-color: #cccccc;
  background-repeat: repeat;
  background-size: 100%;
  background-position: center;
  opacity: .9;
  margin: auto;
  font-family: 'Roboto Condensed', sans-serif;
}


header{
  height:100px;
  margin-bottom:0px;
  background-color: black;
  height: 70px;
}

p {
  font-size: 25px;
  border: 1px solid rgb(10, 10, 10);
  border-radius: 5px;
  padding: 10px;
  /* box-shadow: 5px 10px lightblue; */
  font-family: 'Courier New', Courier, monospace;
  /* width: 100px;
    height: 100px; */
    background: red;
    position: relative;
    -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 5s infinite;
    background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #e7ecf1; /* Grey text */
}

/* Safari 4.0 - 8.0 */
/* @-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 50px;}
}

@keyframes mymove {
    from {left: 0px;}
    to {left: 50px;}
} */


blockquote{
  margin-top:10px;
  color:rgb(58, 102, 158);
  float: left;
  padding-bottom: 10px;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  display: block;
  vertical-align: middle;
}
#headerPhoto{
  margin-top: 10px;
  height: 350px;
  width: 100%;
  position: relative;
 
}
#headermap { background-color: black;
  width:100%;
  height: 50px;
  margin-bottom:20px;
}
nav li {
    float: right;
    list-style-type: none;
}
    
  nav li a {
    display: block;
    height: 10px;
    padding: 12px 18px 8px 18px;
    vertical-align: middle;
    color:white;
    font-size: 20px;
    text-decoration: none;
  }

  #mapLi :hover {
    color:rgb(58, 102, 158);
  }

  #detailsLi :hover {
    color:rgb(58, 102, 158);

  }

  #aboutLi :hover {
    color:rgb(58, 102, 158);
  }

  #restaurant-filter{
    margin-top: 12px;
    float:right;
 -webkit-appearance: menulist;
 -moz-appearance: menulist;
 -webkit-user-select: none;
 -moz-user-select: none;
 -webkit-padding-end: 20px;
 -moz-padding-end: 20px;
 -webkit-padding-start: 2px;
 -moz-padding-start: 2px;
 background-color: black; 
 background-position: center right;
 background-repeat: no-repeat;
 border: 0px solid #AAA;
 background-color:black;
 color: white;
 font-size: 20px;
 width: 200px;
 /* margin: 0px, 0px, 0px, 0px; */
 overflow: hidden;
 padding-top: 2px;
 padding-bottom: 2px;
 text-overflow: ellipsis;
 white-space: nowrap;
}
     
  #map {
    height: 450px;  
    width: 96%; 
    padding: 20px;
   }
   #h1index{
     padding:12px;
     color:white;
     font-family: 'Monoton', cursive;
     font-size: 30px;
     font-weight: lighter;
   }
   
h1 {
  font-size: 18pt;
  font-weight: bold;
  margin-top: 20px;
  color: rgb(58, 102, 158);
  text-align: center;
  font-size: 40px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#detailsH1 {
  padding-top: 50px;
}
#aboutThisSite{ 
  margin-top: 370px;
}
#paragraph {
  text-align: justify;
}
h2 {
  font-size: 40px;
  font-weight: bold;
  color:rgb(27, 60, 104);
  margin-top: 50px;
  margin-bottom: 10px;
  font-weight: lighter;
  /* text-align: center; */
}
h4{
  color:rgb(58, 102, 158);
  font-size: 30px;
  margin-bottom: 5px;
  margin-top:10px; 
  font-weight: lighter;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card {
  margin: 0 80px 80px 80px;
  float: left;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 300px;
  background: rgba(221, 220, 220, 0.961)
}

.card:hover {
  box-shadow: 16 8px 16px 0 rgba(0,0,0,0.2);
}

table { width: 400px; }
td
{
    float: left;
    margin-left: 5px;
}

.container {
  padding: 2px 16px;
  height: 225px;
}

#allFourCards{
align-content: center;
}

#jerome{
max-width: 225px;
height: 255px;
}

#charles{
  max-width: 225px;
  height: 255px;
}

#ariel{
  max-width: 225px;
  height: 255px;
}

#sarkis{
  max-width: 225px;
  height: 255px;
}
#spacer1{
  width: 100%;
  opacity: .15;
  margin-bottom: 80px;
}
#footerPhoto{
  margin-top: 10px;
  height: 200px;
  width: 100%;
  position: relative;
  opacity: .85;
}
#detailsH1{
margin-top: 325px;
color: white;
background-color: grey;
}
 
#showcase {
  float: left;
  width: 200px;
  height: 200px;
}

#info-list > li {

  border: 1px solid #ccc;
  width: 800px;
  margin-left: 20px;
  padding: 20px;
  background: lightgray;
  clear: right;
}
/* 
.info-list > *{
  opacity: 0;
  animation: animateBlur 5s forwards;
}

@keyframes animateBlur {
  from {
  opacity: 1;
  text-shadow: 0 0 1em rgba(0,0,0,.5);
  color: rgba(0,0,0,0);
  }

<<<<<<< HEAD
}

 */
=======
>>>>>>> 966fd196de7025c0acc28676fde109865b1634ee

