
* {
    margin: 0;
    padding: 0;
  }
     
  #map {
    height: 650px;  
    width: 650px; 
   }

   #pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0;
    text-overflow: ellipsis;
    width: 400px;
   }

   #pac-input:focus {
    border-color: #4d90fe;
  }

   
h1 {
  font-size: 18pt;
  font-weight: bold;
}

h2 {
  font-size: 14pt;
  font-weight: bold;
}











